.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ModalContent {
    background-color: white;
    border-radius: 16px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .ModalHeader {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua  ;
  }
  
  .ModalBody {
    background-color: chartreuse;
    padding: 15px;
  }
  
  .ModalFooter {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
  }
  