.button {
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
  
    &:hover {
      opacity: 0.8;
    }
  }
  