.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .modal {
      width: 400px;
      background-color: white;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
  
        h2 {
          margin: 0;
        }
  
        .modal-close {
          border: none;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
        }
      }
  
      .modal-body {
        margin-bottom: 20px;
      }
  
      .modal-foter {
        display: flex;
        justify-content: flex-end;
  
        button {
          margin-left: 10px;
        }
      }
    }
  }
  