.App {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    .productCounts {
      position: sticky;
      top: 30px;
      right: 30px;
      display: flex;
      align-self: flex-end;
      .favoriteIcon {
        position: relative;
        width: 50px;
        margin-left: 30px;
        cursor: pointer;
        img {
          width: 100%;
        }
        .productCount {
          position: absolute;
          padding: 5px;
          min-width: 20px;
          height: 20px;
          border-radius: 10px;
          background-color: pink;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 100%;
          top: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  