.Product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    .Favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .imageWrapper {
      width: 90%;
      margin-bottom: 10px;
      align-self: center;
      img {
        width: 100%;
      }
    }
    button {
      margin-top: 10px;
    }
    h2 {
      font-size: 15px;
      color: chocolate;
    }
    h3 {
      text-decoration: underline;
      color: brown;
      font-size: 13px;
    }
    h4 {
      font-size: 13px;
      color: green;
    }
  }
  