h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  color: rgb(17, 55, 151);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgb(17, 55, 151);
  border-top-color: rgb(78, 118, 216);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.loading {
  /* Полупрозрачный слой поверх контента для затемнения */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body.loading .loading-spinner {
  /* Центрирование спиннера */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#posts-container {
  gap: 30px;
  margin-top: 50px;
  display: grid;
}

.card {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  padding: 20px;
  
}

.card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author .name {
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.delete-button {
  background-color: rgb(17, 55, 151) ;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: cornflowerblue;
}