* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.Button {
    width: fit-content;
    padding: 5px 10px;
    border: 3px solid transparent;
    align-self: center;
}

.Button:active {
    border: 3px solid transparent;
    transform: translateY(3px);
}

////////