@mixin font-family($weight) {
    font-family: Roboto;
    font-weight: $weight;
    font-style: normal;
  }
  
  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  