.instagram {
    padding: 47px 0 49px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    @include flex(column, flex-start, center);
    text-transform: uppercase;
    font-weight: 700;
    &__title {
      width: 100%;
      max-width: 1170px;
      @include flex(row, space-between, center);
      color: $main-text-color;
    }
    &-link {
      font-size: $m-font-size;
    }
    &__images {
      margin-top: 24px;
      width: 100%;
      max-width: 1170px;
      @include flex(row, space-between, flex-start);
      gap: 10px;
      .image-wrapper {
        img {
          width: 100%;
        }
      }
    }
  }
  
  @media (max-width: 1199px) {
    .instagram {
      padding: 47px 92px 50px 80px;
      &__images {
        margin-top: 35px;
        .image-wrapper {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .instagram {
      padding: 38px 47px 42px 25px;
      .title {
        font-size: $l-font-size;
      }
      &-link {
        display: none;
      }
      &__images {
        margin-top: 13px;
        justify-content: center;
        .image-wrapper {
          &:not(:first-child) {
            display: none;
          }
        }
      }
    }
  }
  
  