.posts {
    padding: 69px 0;
    width: 100%;
    max-width: 1170px;
    .grid {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 55px;
      row-gap: 32px;
      &__item {
        @include flex(row, space-between, flex-start);
        gap: 21px;
        .description {
          &__title {
            line-height: 30px;
            text-transform: none;
          }
          &__link {
            line-height: 20px;
            font-size: $m-font-size;
            font-weight: 400;
            margin-top: 1px;
          }
          &__text {
            font-size: $l-font-size;
            color: $text-color;
            line-height: 26px;
            font-weight: 400;
            margin-top: 13px;
          }
        }
      }
    }
  }
  
  .title {
    text-transform: uppercase;
    font-weight: 700;
    color: $main-text-color;
    font-size: $xl-font-size;
    line-height: 22px;
  }
  
  @media (max-width: 1199px) {
    .posts {
      padding: 59px 275px 60px 80px;
      .grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  
  @media (max-width: 768px) {
    .posts {
      padding: 42px 116px 43px 25px;
      .grid {
        grid-template-columns: repeat(1, 1fr);
        &__item {
          @include flex(column, flex-start, flex-start);
          gap: 11px;
          .description {
            &__title {
              font-size: $l-font-size;
            }
            &__link {
              font-size: $s-font-size;
            }
            &__text {
              display: none;
            }
          }
        }
      }
    }
    .title {
      font-size: $l-font-size;
    }
  }
  
  