@import "reset";
@import "fonts";
@import "mixin";
@import "variables";
@import "header";
@import "section_posts";
@import "section_instagram";
@import "footer";
@import "section_poster";

.container {
  width: 100%;
  padding-top: 29px;
  @include font-family(700);
  @include flex(column, flex-start, center);
  .main {
    width: 100%;
    @include flex(column, flex-start, center)
  }
}
