

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}

li{
    list-style-type: none;
}

.episode-name{
    text-decoration: underline;
    margin-bottom: 10px;
}

.episode-description{
    margin-bottom: 15px;
}





.animation{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid pink;
    border-left: 5px solid black;
    animation: rotate 500ms linear infinite;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
    
}
