

 
      
body{
       
        overflow-y: hidden;
      }
.hidden {
    display: none;
}

.search{
    outline: none;
}
.done-text{
margin-top: 50px;
}
.visit-card {
    width: 250px;
    user-select: auto;
    height: max-content;
    border: none;
}

i {
    pointer-events: none;
}

.edit-visit-btn {
    opacity: 0.7;
}

.edit-visit-btn:hover {
    opacity: 1;
}

.show-more-btn {
    opacity: 0.8;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:not(.collapsed) {
    color: inherit; 
}

.accordion-button {
    background-color: #ffffff8a;
}

.accordion-button:focus {
    box-shadow: none;
}

.card-list-item {
    background-color: var(--bs-accordion-active-bg);
    opacity: 0.8;
}

#sorting-form select {
    width: 100px;
}

body {
    background: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

main {
    margin-top: 130px;
}

@media screen and (min-width: 993px) {
    main {
        
        margin-top: 83px;
    }
    
}

.main-cards {
    height: 91vh;
}

.card-list {
    padding: 0 16px 16px;
}

.card-border-radius {
    border-radius: 6px 6px 0 0;
}

.bg-dentist {
    background-color: #166773bf;
}

.bg-therapist {
    background-color: #199126a8;
}

.bg-cardiologist {
    background-color: #c73912b8;
}

.accordion-collapse {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 0 0 6px 6px;
}

.card-z-index {
    z-index: 99;
}

.card-actionDone {
    justify-content: end;
}

.card-actionOpen {
    justify-content: space-between;
}

.btnDone {
    display: none;
}

.btnOpen {
    padding: 0;
    margin-left: 8px;
}

.btnOpen:hover span{
    color: #fff;
}

.card-status {
    color: #000;
}