<footer class="footer">
    <h2 class="title title--white">- our Recent posts</h2>
  
    <p class="footer__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
      vollisky inceptos mollisestor.
    </p>
  
    <div class="social">
      <a
        href="https://ru.wikipedia.org/wiki/RSS"
        target="_blank"
        class="image-wrapper"
      >
        <img src="@img/social_icon/rss-icon.png" alt="" />
      </a>
  
      <a href="https://www.facebook.com/" target="_blank" class="image-wrapper">
        <img src="@img/social_icon/facebook-icon.png" alt="" />
      </a>
  
      <a href="https://twitter.com/" target="_blank" class="image-wrapper">
        <img src="@img/social_icon/twitter-icon.png" alt="" />
      </a>
  
      <a href="https://dribbble.com/" target="_blank" class="image-wrapper">
        <img src="@img/social_icon/dribbble-icon.png" alt="" />
      </a>
  
      <a href="https://www.pinterest.com/" target="_blank" class="image-wrapper">
        <img src="@img/social_icon/pinterest-icon.png" alt="" />
      </a>
    </div>
  
    <p class="contacts">
      Moonshine St. 14-05 Light City /
      <a href="tel:+001234567890" class="phone-number">T. +00 (123) 456 78 90</a> /
      <a href="mailto:first.last@email.com" class="email">first.last@email.com</a>
    </p>
  </footer>
  
  