<header class="header">
    <nav class="nav">
      <ul class="list">
        <li class="list__item"><a href="#" class="link">Home</a></li>
        <li class="list__item"><a href="#" class="link">About Us</a></li>
        <li class="list__item"><a href="#" class="link">Our Journal</a></li>
        <li class="list__item"><a href="#" class="link">Projects</a></li>
        <li class="list__item"><a href="#" class="link">news</a></li>
        <li class="list__item"><a href="#" class="link">features</a></li>
        <li class="list__item"><a href="#" class="link">contact</a></li>
      </ul>
    </nav>
    <div class="menu">
      <div class="line-wrapper">
        <div class="menu__line menu__line-one"></div>
        <div class="menu__line menu__line-two"></div>
        <div class="menu__line menu__line-three"></div>
      </div>
    </div>

  </header>
  
  