<section class="instagram">
    <div class="instagram__title">
      <h2 class="title">- Latest Instagram Shots</h2>
      <a href="https://www.instagram.com/" target="_blank" class="instagram-link"
        >go to our instagram page -</a
      >
    </div>
    <div class="instagram__images">
      <div class="image-wrapper">
        <img
          src="@img/instagram_image/instagram-image1.jpg"
          alt="Instagram image"
        />
      </div>
  
      <div class="image-wrapper">
        <img
          src="@img/instagram_image/instagram-image2.jpg"
          alt="Instagram image"
        />
      </div>
  
      <div class="image-wrapper">
        <img
          src="@img/instagram_image/instagram-image3.jpg"
          alt="Instagram image"
        />
      </div>
  
      <div class="image-wrapper">
        <img
          src="@img/instagram_image/instagram-image4.jpg"
          alt="Instagram image"
        />
      </div>
    </div>
  </section>
  