<section class="posts">
    <h2 class="title">- our Recent posts</h2>
    <div class="grid">
      <div class="grid__item">
        <div class="image-wrapper">
          <img src="@img/post_image/post-image1.jpg" alt="Post image" />
        </div>
  
        <div class="description">
          <h3 class="description__title title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="description__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="description__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="grid__item">
        <div class="image-wrapper">
          <img src="@img/post_image/post-image2.jpg" alt="Post image" />
        </div>
  
        <div class="description">
          <h3 class="description__title title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="description__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="description__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="grid__item">
        <div class="image-wrapper">
          <img src="@img/post_image/post-image3.jpg" alt="Post image" />
        </div>
  
        <div class="description">
          <h3 class="description__title title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="description__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="description__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="grid__item">
        <div class="image-wrapper">
          <img src="@img/post_image/post-image4.jpg" alt="Post image" />
        </div>
  
        <div class="description">
          <h3 class="description__title title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="description__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="description__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  